# Gmail API
GMAIL_SENDER_EMAIL=seu_email@gmail.com
GMAIL_CREDENTIALS_PATH=secrets/gmail_credentials.json

# Streamlit Login
STREAMLIT_USER=Yamada
STREAMLIT_PASSWORD=Yamada

# AWS S3 (GOES-16/19) - Público, sem credenciais necessárias
AWS_REGION=us-west-2

# Open-Meteo - API Pública
OPEN_METEO_API_URL=https://api.open-meteo.com/v1/forecast

# NASA POWER - API Pública
NASA_POWER_API_URL=https://power.larc.nasa.gov/api/v1/

# Configurações de Log
LOG_LEVEL=INFO

# Email de destino dos boletins (separar múltiplos com ;)
RECIPIENT_EMAILS=produtor1@example.com;produtor2@example.com
